
@model BuddyMap.ViewModels.QuestionCreate
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Questions.QuestionText" class="control-label"></label>
                <input asp-for="Questions.QuestionText" class="form-control" required="required" />
                <span asp-validation-for="Questions.QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.NumOfAnswers" class="control-label"></label>
                <input asp-for="Questions.NumOfAnswers" class="form-control" required="required" />
                <span asp-validation-for="Questions.NumOfAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedQGId)
                <br>
                @Html.DropDownListFor(m => m.SelectedQGId, Model.QGItems, "Label", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SelectedQGId)
                @*@Html.DropDownListFor(model => model.Questions.Id,
         (ViewBag.QuestionGroup as IEnumerable<QuestionGroup>).Select(qg => new SelectListItem(qg.QuestionGroupName, qg.Id.ToString())),
        /*"--Select--"*/ htmlAttributes: new { @class = "form-control", @data_rel = "selected" })*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
