
@model BuddyMap.ViewModels.QuestionCreate
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" required="required" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.NumOfAnswers" class="control-label"></label>
                <input asp-for="Question.NumOfAnswers" class="form-control" required="required" />
                <span asp-validation-for="Question.NumOfAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <select asp-for="SelectedQGId" class="form-control" asp-items="@(new SelectList(Model.QuestionGroups, "Id", "QuestionGroupName"))"></select>
                @*@Html.DropDownListFor(m => m.SelectedQGId, Model.QCItems, "Id", "QuestionGroupName")*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
