@{ViewData["Title"] = "Home Page"; }
@{Layout = "_Layout";}

<p>
    <br />
    <a role="button" class="btn btn-primary btn-lg" href="https://localhost:44359/Questions/Create">Create New Question</a>
    <br />
    <a role="button" class="btn btn-primary btn-lg" href="https://localhost:44359/Questions">Questions to ask</a>
    <br />
    <a role="button" class="btn btn-primary btn-lg" href="https://localhost:44359/Students">Participants</a>
    <br />
    <a role="button" class="btn btn-primary btn-lg" href="https://localhost:44359/">Fill the questionnaire</a>
</p>


